/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
/cmake-build-minsizerel
/cmake-build-debug-msvc
/cmake-build-release-msvc
/cmake-build-relwithdebinfo-msvc
/cmake-build-minsizerel-msvc
/build
/vs2019

/**/.cache/*