[submodule "src/ocarina"]
	path = src/ocarina
	url = https://github.com/CoronaEngine/ocarina.git
[submodule "src/ext/cxxopts"]
	path = src/ext/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "src/ext/assimp"]
	path = src/ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/ext/oidn"]
	path = src/ext/oidn
	url = https://github.com/OpenImageDenoise/oidn.git
